{{>/header}}
<h1>Liste des evenements</h1>
<table class="uk-table uk-table-striped uk-table-hover">
    <caption></caption>
    <thead>
        <tr>
            <th>Action</th>
            <th>Entite</th>
            <th>Cote</th>
            <th>Realise</th>
            <th>Date</th>
            <th colspan="2"><a href="#addNewEvent" uk-toggle class="uk-button uk-button-green uk-button-small">Ajouter un evenement</a></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       {{#evenements}}
        <tr>
            <td>{{action}}</td>
            <td>{{entite}}</td>
            <td>{{cote}}</td>
            <td>{{realise}}</td>
            <td>{{date}}</td>
             <td>
             	<a href="evenements/modif/{{id}}" class="uk-button uk-button-primary uk-button-small">Modifier</a>
             </td>
             <td>
              <a href="evenements/delete/{{id}}" class="uk-button uk-button-danger uk-button-small">Supprimer</a>
            </td>
        </tr>
        {{/evenements}}
    </tbody>
</table>

<div id="addNewEvent" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Nouvel Evenement</h2>
        
       <form name="addEvenement" action="evenements/addEvenement" method="POST">
    <fieldset class="uk-fieldset">

        <div class="uk-margin">
            <input class="uk-input uk-form-width-large" name="action" type="text" required="required" placeholder="Action">
        </div>
        <div class="uk-margin">
           <input class="uk-input uk-form-width-large" name="entite" type="text" placeholder="Entite">
        </div>
        <div class="uk-margin">
           <input class="uk-input uk-form-width-large" name="cote" type="number" step="0.01" placeholder="Cote">
        </div>
        
        <input hidden name="optionEvent" type="text">
        
        <div class="uk-margin">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
             <button  type="submit" class="uk-button uk-button-green">Submit</button>
        </div>
       
    </fieldset>
</form>	        
    </div>
</div>
{{>/footer}}