{{>/header}}

<form name="modifEvenement" action="evenements/modifEvenement" method="POST">
<br>
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">Modifier</legend>

        <div class="uk-margin">
            <input class="uk-input uk-form-width-large" name="action" type="text" value="{{action}}" placeholder="{{action}}">
        </div>
        <div class="uk-margin">
           <input class="uk-input uk-form-width-large" name="entite" type="text" value="{{entite}}" placeholder="{{entite}}">
        </div>
        <div class="uk-margin">
           <input class="uk-input uk-form-width-large" name="cote" type="number" step="0.01" value="{{cote}}" placeholder="{{cote}}">
        </div>
         <input class="uk-input uk-form-width-large" name="id" value="{{evenementId}}" hidden="true">
        <div class="uk-margin">
             <button  type="submit" class="uk-button uk-button-green">Submit</button>
        </div>
       
    </fieldset>
</form>
{{>/footer}}