
<!-- PERMET DE REMPLIR LE FICHIER JS 
<el-button :type='type' @click='count++'>
{{caption}} : {{count}} 
<el-tag type=""><slot></slot></el-tag>
</el-button>
--> 

<el-popover
  placement="top"
  width="160"
  v-model="visible2"
  :title="title">
  <p>{{message}}</p>
  <div style="text-align: right; margin: 0">
    <el-button type="primary" size="mini" @click="$emit('okay-click'); visible2=false;">{{OkayCaption}}</el-button>
    <el-button size="mini" type="text" @click="$emit('cancel-click'); visible2=false;">{{cancelCaption}}</el-button>
  </div>
  <el-button slot="reference"><slot></slot></el-button>
</el-popover>
<el-button :type='type' @click='count++'>
{{caption}} : {{count}}
&nbsp<el-tag type="danger"><slot>
</slot></el-tag>
</el-button>

