{{>/header}}

  <el-button type="success"><%buttonText%></el-button>
  <el-input v-model="buttonText"></el-input>
  <a class="el-button el-button-default" @click="visible=true">Test</a>
  <el-checkbox v-model="visible" border>Bouton</el-checkbox>
  <h1 v-if="visible">Yes</h1>
  
  <el-input v-model="progress"></el-input>
  <el-progress :text-inside="true" :stroke-width="18" :percentage="progress"></el-progress>
  
  <script>
  new Vue({
	  el:"#app",
	  delimiters:["<%","%>"],
	  data: function(){
		  return{
			  buttonText:"Ok",
			  visible: false,
			  progress: "0"
		  };
	  }
  })
  </script>

{{>/footer}}