{{>/header}}
 <el-alert
    title="Joueur selectionné"
    type="info"
    description="joueurActif.nom"
    show-icon>
  </el-alert>
  <el-select v-model="joueurActif" clearable value-key="id" placeholder="Select">
    <el-option
      v-for="joueur in joueurs"
      :key="joueur.id"
      :label="joueur.nom"
      :value="joueur">
    </el-option>
  </el-select>
{{>/footer}}