{{>/header}}

  <el-button type="success"><%buttonText%></el-button>
  <el-input v-model="buttonText"></el-input>
  <a class="el-button el-button-default" @click="visible=true">Test</a>
  <el-checkbox v-model="visible" border>Bouton</el-checkbox>
  <h1 v-if="visible">Yes</h1>
  <h1 v-else>No</h1>
  <br>
  <template>
  <el-input-number v-model="progress" step="10" controls-position="right" @change="notification" :min="0" :max="100"></el-input-number>
</template>

<el-progress :percentage="progress" :color="pbColor"></el-progress>
<button-counter caption="You clicked me" type="default">Test bouton</button-counter>
  
<button-counter caption="You click me" type="default">Texte interne</button-counter>

<button-confirm title="Titre" message="Supprimer l'element?" okay-caption="Confirmer" cancel-caption="Annuler" v-on:okay-click="handleOkay" v-on:cancel-click="handleCancel">Supprimer</button-confirm>



{{>/footer}}