{{>/header}}
<h1>Liste des joueurs</h1>
<a href="#addNew" uk-toggle class="uk-button uk-button-green uk-button-small">Ajouter un joueur</a>
 <el-form method="post" action="joueur/submitModifJoueur" ref="formModif">
<el-table class="uk-table uk-table-striped uk-table-hover" :data="joueurs" style="width: 100%;">
      <el-table-column 
        label="Nom"
        width="180">
        <template slot-scope="scope" >
        	<span v-if="!scope.row.visible"> <%scope.row.nom%></span> 
        	<span v-else><el-input v-model="scope.row.nom"></el-input></span> 
        </template>
      </el-table-column>
      <el-table-column label="Prenom" width="180">
       <template slot-scope="scope" >
        	<span v-if="!scope.row.visible"> <%scope.row.prenom%></span> 
        	<span v-else><el-input v-model="scope.row.prenom"></span> 
        </template>
      </el-table-column>
      <el-table-column  
        label="Age"
        width="100">
        <template slot-scope="scope" >
        	<span v-if="!scope.row.visible"> <%scope.row.age%></span> 
        	<span v-else><el-input type="number" min="18" v-model="scope.row.age"></span> 
        </template>
      </el-table-column>
      <el-table-column width="400">
		 <template slot-scope="scope">
			 <span v-if="!scope.row.visible">
				 <el-button @click="scope.row.visible=true" type="primary" icon="el-icon-edit"></el-button>
				 <button-confirm title="Titre" message="Supprimer le joueur" okay-caption="Confirmer" cancel-caption="Annuler" 
				 v-on:okay-click="deleteJoueur(scope.row)">Delete</button-confirm>
				 
			</span>
			<span v-else>
				<el-button type="primary" @click="submitModifJoueur(scope.row)">Valider</el-button>
				<el-button @click="scope.row.visible = false">Annuler</el-button>
			</span>
		</template>
      </el-table-column>
</el-table>
 </el-form>

<!-- This is the modal -->
<div id="addNew" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Nouveau joueur</h2>
        
        <form name="addJoueur" action="joueur/addJoueur" method="POST">
    <fieldset class="uk-fieldset">

        <div class="uk-margin">
            <input class="uk-input uk-form-width-large" name="nom" type="text" required="required" placeholder="Nom">
        </div>
        <div class="uk-margin">
           <input class="uk-input uk-form-width-large" name="prenom" type="text" placeholder="Prenom">
        </div>
         <div class="uk-margin">
           <input class="uk-input uk-form-width-large" name="age" type="number" min="18" placeholder="Age (must be at least 18)">
        </div>
        
        <div class="uk-margin">
        	<button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
             <button type="submit" class="uk-button uk-button-green">Submit</button>
        </div>
       
    </fieldset>
</form>
    </div>
</div>


{{>/footer}}

