{{>/header}}

<form name="modifJoueur" action="joueur/modifJoueur" method="POST">
<br>
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">Modifier {{nom}} {{prenom}}</legend>

        <div class="uk-margin">
            <input class="uk-input uk-form-width-large" name="nom" type="text" value="{{nom}}" placeholder="{{nom}}">
        </div>
        <div class="uk-margin">
           <input class="uk-input uk-form-width-large" name="prenom" type="text" value="{{prenom}}" placeholder="{{prenom}}">
        </div>
        <div class="uk-margin">
           <input class="uk-input uk-form-width-large" name="age" min="18" type="number" value="{{age}}" placeholder="{{age}}">
        </div>
         <input class="uk-input uk-form-width-large" name="id" value="{{joueurId}}" hidden="true">
        <div class="uk-margin">
             <button  type="submit" class="uk-button uk-button-green">Submit</button>
        </div>
       
    </fieldset>
</form>
{{>/footer}}