{{>/header}}
<a href="#addNewSimple" uk-toggle class="uk-button uk-button-primary uk-button-medium">Nouveau Pari Simple</a>
<a href="#addNewCombine" uk-toggle class="uk-button uk-button-primary uk-button-medium">Nouveau Pari Combine</a>
<h1>Tous les paris</h1>
<ul>
{{#pari}}
	<li>
		{{date}} - {{joueur}}
		<ul>
		{{#getEvenements}}
			<li>{{entite}} {{action}} {{mise}}&euro;</li>
		{{/getEvenements}}
		</ul>
	</li>
{{/pari}}
</ul>

<!-- This is the modal -->
<div id="addNewSimple" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Nouveau Pari Simple</h2>
        
        <form name="addPariSimple" action="pari/addPariSimple" method="POST">
    <fieldset class="uk-fieldset">
        
        <div class="uk-form-controls">
            <select class="uk-select" id="form-horizontal-select" type="text" name="idjoueur" required >
             <option class="uk-select uk-form-width-large" disabled selected>Joueur</option>
                 {{#joueurs}}
 					 <option class="uk-select uk-form-width-large" value="{{id}}" type="text">{{nom}} {{prenom}}</option>
 				{{/joueurs}}
            </select>
        </div>
        
        <div class="uk-margin">
            <select class="uk-select" id="form-horizontal-select" type="text" name="idevent" required >
             <option class="uk-select uk-form-width-large" disabled selected>Evenement</option>
                 {{#events}}
 					 <option class="uk-select uk-form-width-large" value="{{id}}" type="text">{{action}} {{entite}}</option>
 				{{/events}}
            </select>
        </div>
       
        <div class="uk-margin">
           <input class="uk-input uk-form-width-large" name="mise" type="number" placeholder="Mise">
        </div>
        
        <div class="uk-margin">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
             <button  type="submit" class="uk-button uk-button-green">Submit</button>
        </div>
       
    </fieldset>
</form>
    </div>
</div>


<div id="addNewCombine" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Nouveau joueur Combine</h2>
        
      <form name="addPariCombine" action="pari/addPariCombine" method="POST">
    <fieldset class="uk-fieldset">
    
       <select class="uk-select" id="form-horizontal-select" type="text" name="idjoueur" required >
             <option class="uk-select uk-form-width-large" selected>Joueur</option>
                 {{#joueurs}}
 					 <option class="uk-select uk-form-width-large" value="{{id}}" type="text">{{nom}} {{prenom}}</option>
 				{{/joueurs}}
            </select>
        
        <div class="uk-margin">
          //
        </div>
        
        <div class="uk-margin">
           <input class="uk-input uk-form-width-large" name="action" type="text" required="required" placeholder="Action">
        </div>
        <div class="uk-margin">
           <input class="uk-input uk-form-width-large" name="entite" type="text" required="required" placeholder="Entite">
        </div>
        <div class="uk-margin">
           <input class="uk-input uk-form-width-large" name="mise" type="number" placeholder="Mise (&euro;)">
        </div>
        
        <div class="uk-margin">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
             <button disabled type="submit" class="uk-button uk-button-green">Submit</button>
        </div>
       
    </fieldset>
</form>
    </div>
</div>
{{>/footer}}