{{>/header_user}}
<el-main>
<br>
<el-row :gutter="40">
<el-col :span="6">
	<table >
   <el-tabs style="height: 200px;">
    <el-tab-pane label="Utilisateurs">
		<el-table
			:data="FriendTable"
		    style="width: 100%"
		    height="250"
		    @row-click="open2();">
		    <el-table-column
		      prop="nom"
		      label="Nom"
		      width="150">
		    </el-table-column>
		    <el-table-column
		      prop="prenom"
		      label="Prenom"
		      width="150">
		    </el-table-column>
		  </el-table>
	</el-tab-pane>
	<el-tab-pane label="Amis">Amis</el-tab-pane>
    <el-tab-pane label="Ranking">Ranking</el-tab-pane>
    <!-- <el-tab-pane label="Task">Task</el-tab-pane> -->
  </el-tabs>
</table>
	</el-col>
	<el-col :span="8">
	<table class="uk-table uk-table-striped uk-table-hover" >
    <h3>Paris</h3>
    <thead>
        <tr>
        	<th><el-button href="#addNewSimple" uk-toggle  type="success" size="small">Nouveau Pari</el-button></th>
        	<th><!-- <el-button href="#addNewCombine" uk-toggle  type="success" size="small">Parie Combine</el-button> --></th>
            <th></th>
            <th><el-checkbox v-model="PariChecked">Tout les paris</el-checkbox></th>
        </tr>
    </thead>
     <thead>
        <tr>
        	<th>Date</th>
        	<th>Parieur</th>
            <th>Evenement</th>
            <th>Mise</th>
        </tr>
    </thead>
    <tbody  v-if="PariChecked">
       {{#paris}}
        <tr>
            <td>{{date}}</td>
            <td> {{joueur}}</td>
            <td>{{#getEvenements}}
			{{entite}} {{action}}
		{{/getEvenements}}</td>
		<td>{{#getEvenements}}
			{{mise}}&euro;
		{{/getEvenements}}</td>
        </tr>
        {{/paris}}
    </tbody>
    <tbody v-else>
       {{#mybets}}
        <tr>
            <td>{{date}}</td>
            <td> {{joueur}}</td>
            <td>{{#getEvenements}}
			{{entite}} {{action}}
		{{/getEvenements}}</td>
		<td>{{#getEvenements}}
			{{mise}}&euro;
		{{/getEvenements}}</td>
        </tr>
        {{/mybets}}
    </tbody>
</table>
	</el-col>
	<el-col :span="9">
	<table class="uk-table uk-table-striped uk-table-hover">
    <h3>Evenements</h3>
    <thead>
        <tr>
        	<th><el-button href="#addNewEvent" uk-toggle  type="success" size="small">Creer un evenement</el-button></th>
            <th></th>
            <th></th>
            <th></th>
            <th><el-checkbox v-model="EventChecked">Tout les evenements</el-checkbox></th>
            <th></th>
        </tr>
    </thead>
    <thead>
        <tr>
        	<th>Action</th>
        	<th>Entite</th>
            <th>Cote</th>
            <th>Realise</th>
            <th>Date Fin</th>
        </tr>
    </thead>
    <tbody v-if="EventChecked">
       {{#evenements}}
        <tr>
            <td>{{action}}</td>
            <td>{{entite}}</td>
            <td>{{cote}}</td>
            <td>{{realise}}</td>
            <td>{{date}}</td>
        </tr>
        {{/evenements}}
    </tbody>
    <tbody v-else>
       {{#myevents}}
        <tr>
            <td>{{action}}</td>
            <td>{{entite}}</td>
            <td>{{cote}}</td>
            <td>{{realise}}</td>
            <td>{{date}}</td>
        </tr>
        {{/myevents}}
    </tbody>
</table>
	</el-col>
</el-row>






























<!-- Modal pari simple -->
<div id="addNewSimple" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Nouveau Pari</h2>
        
        <form name="addPariSimple" action="/pari/addPariSimple" method="POST">
    <fieldset class="uk-fieldset">
        
 		<input name="idjoueur" hidden class="uk-select uk-form-width-large" value="{{userId}}" type="text"></input>
 				
        <div class="uk-margin">
            <select class="uk-select" id="form-horizontal-select" type="text" name="idevent" required >
             <option class="uk-select uk-form-width-large" disabled selected>Evenement</option>
                 {{#evenements}}
 					 <option class="uk-select uk-form-width-large" value="{{id}}" type="text">{{action}} {{entite}}</option>
 				{{/evenements}}
            </select>
        </div>
        <input hidden name="role" type="text" value="user">
        <div class="uk-margin">
           <input class="uk-input uk-form-width-large" name="mise" type="number" placeholder="Mise">
        </div>
        
        <div class="uk-margin">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
             <button  type="submit" class="uk-button uk-button-green">Valider</button>
        </div>
       
    </fieldset>
</form>
    </div>
</div>

<!-- Modal evenement -->
<div id="addNewEvent" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Nouvel Evenement</h2>
        
       <form name="addEvenement" action="/evenements/addEvenement" method="POST">
    <fieldset class="uk-fieldset">

        <div class="uk-margin">
            <input class="uk-input uk-form-width-large" name="action" type="text" required="required" placeholder="Action">
        </div>
        <div class="uk-margin">
           <input class="uk-input uk-form-width-large" name="entite" type="text" placeholder="Entite">
        </div>
        <div class="uk-margin">
           <input class="uk-input uk-form-width-large" name="cote" type="number" step="0.01" placeholder="Cote">
        </div>
        <div class="uk-margin">
           <input class="uk-input uk-form-width-large" name="finPari" type="date">
        </div>
        
        <input hidden name="role" type="text" value="user">
         <input hidden name="eventOwner" type="number" value="{{userId}}">
        
        <div class="uk-margin">
        	 <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
             <button type="submit" class="uk-button uk-button-green">Valider</button>
        </div>
       
    </fieldset>
</form>	        
    </div>
</div>
{{>/footer}}