{{>/simple_header}}
<el-card class="box-card" >
<h1>CONNEXION</h1>
 <form name="loginPage" action="index/login" method="POST" >
  <el-alert v-if="visible"
    title="{{errormsg}}"
    type="error">
  </el-alert>

    <fieldset class="uk-fieldset">

        <div class="uk-margin">
            <input class="uk-input uk-form-width-large" name="email" type="text" required="required" placeholder="Email">
        </div>
        <div class="uk-margin">
           <input class="uk-input uk-form-width-large" name="password" type="password" placeholder="Password">
        </div>
        <div class="uk-margin">
             <button type="submit" class="uk-button uk-button-green">Connexion</button>
             <button type="submit" href="#register" uk-toggle class="uk-button uk-button-secondary">Inscription</button>
        </div>
    </fieldset>
</form>
</el-card>

<!-- Modal pari simple -->
<div id="register" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h1>Inscription</h1>
 <form name="signInPage" action="index/signIn" method="POST">
    <fieldset class="uk-fieldset">
    
    <div class="uk-margin">
            <input class="uk-input uk-form-width-large" name="nom" type="text" required="required" placeholder="Nom">
        </div>
        <div class="uk-margin">
           <input class="uk-input uk-form-width-large" name="prenom" type="text" placeholder="Prenom">
        </div>

        <div class="uk-margin">
            <input class="uk-input uk-form-width-large" name="email" type="email" required="required" placeholder="Email">
        </div>
        <div class="uk-margin">
           <input class="uk-input uk-form-width-large" name="password" type="password" placeholder="Password">
        </div>
         
         <div class="uk-margin">
           <input class="uk-input uk-form-width-large" name="age" type="number" min="18" placeholder="Age (must be at least 18)">
        </div>
        <div class="uk-margin">
             <button type="submit" class="uk-button uk-button-green">Valider</button>
             <a href="index" class="uk-button uk-button-default uk-modal-close">Annuler</a>
        </div>
    </fieldset>
</form>
    </div>
</div>

{{>/footer}}