{{>/header_user}}
<div class="el-main">
<el-container>
  <el-aside width="40%" >
  <el-row class="tac">
  <el-col :span="12">
    <el-menu default-active="1" class="el-menu-vertical-demo" >
     <el-menu-item index="1" @click="sidechoiceInfo=true;sidechoiceFriend=false;">
        <i class="el-icon-edit-outline"></i>
        <span>Informations personnelles</span>
      </el-menu-item>
      <el-menu-item index="2" @click="sidechoiceFriend=true;sidechoiceInfo=false;">
  <i class="el-icon-star-off"></i>
        <span>Gestion des Amis</span>
        <el-badge :value="12" class="item">
  
</el-badge>
      </el-menu-item>
    </el-menu>
  </el-col>
</el-row> 
</el-aside>
  <el-main float="left" v-if="sidechoiceInfo">
  <el-alert v-if="visiblevalid"
    title="{{validmsg}}"
    type="success"
    show-icon>
  </el-alert>
  <h1>Informations personnelles</h1>
  	<form name="modifJoueur" action="joueur/modifJoueur" method="POST">
    <fieldset class="uk-fieldset">

        <div class="uk-margin">
            <input class="uk-input uk-form-width-large" name="nom" type="text" value="{{nom}}" placeholder="{{nom}}">
        </div>
        <div class="uk-margin">
           <input class="uk-input uk-form-width-large" name="prenom" type="text" value="{{prenom}}" placeholder="{{prenom}}">
        </div>
        <div class="uk-margin">
           <input class="uk-input uk-form-width-large" name="age" min="18" type="number" value="{{age}}" placeholder="{{age}}">
        </div>
        
        <div class="uk-margin">
           <input class="uk-input uk-form-width-large" name="email" type="email" value="{{email}}" autocomplete="off" placeholder="{{email}}">
        </div>
        
        <div class="uk-margin">
           <input class="uk-input uk-form-width-large" name="password" type="password" value="{{password}}" autocomplete="off" placeholder="password">
        </div>
         <input name="id" value="{{id}}" hidden>
         <input hidden name="role" type="text" value="user">
         
        <div class="uk-margin">
             <button  type="submit" class="uk-button uk-button-green">Enregistrer les modifications</button>
        </div>
       
    </fieldset>
</form>
  </el-main>
  <el-main float="left" v-if="sidechoiceFriend">
  <h1>Gestion des amis</h1>
  	
  </el-main>
</el-container>



{{>/footer}}